[submodule "libs/memory"]
	path = libs/memory
	url = https://github.com/Ihaa21/memory.git
[submodule "libs/graphics_utils"]
	path = libs/graphics_utils
	url = https://github.com/Ihaa21/graphics_utils.git
[submodule "libs/framework_vulkan"]
	path = libs/framework_vulkan
	url = https://github.com/Ihaa21/framework_vulkan.git
[submodule "libs/math"]
	path = libs/math
	url = https://github.com/Ihaa21/math.git
[submodule "libs/string"]
	path = libs/string
	url = https://github.com/Ihaa21/string.git
[submodule "libs/ui"]
	path = libs/ui
	url = https://github.com/Ihaa21/ui.git
